// font-size 
// --------------------------------------------------------------------------------------------------------
$fontSize_8:       						0.5714285714285714em;
$fontSize_10:       					0.721em;
$fontSize_11:							0.7857142857142857em;
$fontSize_12:							0.8571428571428571em;
$fontSize_13:							0.9285714285714286em;
$fontSize_14:							1em;
$fontSize_16:       					1.142857142857143em;
$fontSize_18:            				1.285714285714285em;
$fontSize_20:	      					1.428571428571429em;
$fontSize_22:	      					1.571428571428571em;
$fontSize_24:	      					1.714285714285714em;
$fontSize_32:							2.285714285714286em;
$fontSize_36:							2.571428571428571em;
$fontSize_38:							2.714285714285714em;
$fontSize_42:							3em;

// font-wight 
// --------------------------------------------------------------------------------------------------------
$fontWeight400:							400;
$fontWeight500:							500;
$fontWeight700:							700;

// Font Config
//-----------------------------------------------------------------------------------------------------
$defaultfontFamily:						'Montserrat', sans-serif;
$defaultfontWeight:						$fontWeight400  !default;
$defaultfontSize:						$fontSize_14 !default;
$defaultlineHeight:						24px !default;
$fontFamily: 							'Open Sans', sans-serif;
$iconFontFamily:                        'icomoon';

// Color Config
//-----------------------------------------------------------------------------------------------------

$black: 								#000000;

$gray1:									#e9ebed;
$gray2:									#c6c8ca;
$gray3:									#d5d9dc;
$gray4:									#b5b9bb;
$gray5:									#959fa7;
$gray6:									#7f878e;

$blue1:									#2c3d4d;
$blue2:									#253442;
$blue3:									#222a35;
$blue4:									#1d242d;

$blue5:									#2a7bb2;
$blue6:									#246997;

$green1:								#189a80;
$green2:								#14836d;

$yellow1:								#feba12;
$yellow2:								#d89e0f;

$white: 								#ffffff;

$success: 								#7bb62e;
$error: 								#e83434;
$colorNeBlack:	 						#000000;

// input
// --------------------------------------------------------------------------------------------------------
$defaultFontsize:						14;

$colorNeLiGray2: 						#2c3d4d;
$colorPrLiBlue1: 						#2a7bb2;
$colorNeLiGray3: 						#959fa7;
$colorNeLiGray4: 						#d5d9dc;
$colorNeLiGray5: 						#e9ebed;
$colorNeLiGray6: 						#ffffff;
$colorNeDaGray4: 						#b5b9bb;
$colorPrLiRed1: 						#d44647;
$colorPrDaGreen1: 						#14836d;
$colorPrLiGreen1: 						#189a80;

$inputFontcolor:						$colorNeLiGray2;
$inputFocusborder:						$colorPrLiBlue1;
$inputborderColor: 						$colorNeLiGray4;
$labelFontcolor:						$colorNeLiGray2;
$inputDisabledBrColor: 					$colorNeLiGray4;
$inputDisabledFontColor:				$colorNeLiGray3;
$inputDisabledBg:						$colorNeLiGray5;
$inputDisabledBrColor: 					$colorNeLiGray4;
$error:									$colorPrLiRed1;
$colorPrLiRed1: 						#d44647;
$bgTransparent:							transparent;
$inputIconborderColor:					$colorNeLiGray4;
$inputIconBg:							$colorNeLiGray6;
$inputIconfontSize:						getEmvalue(20,$defaultFontsize);
$inputIconFontColor:					$colorNeDaGray4;
$actionContainer:      					$colorNeLiGray5;
$inputPlaceHolderClr:					$colorNeLiGray4;
$successFont:							$colorPrDaGreen1;
$successBorder:							$colorPrLiGreen1;

$wizardProgressBg:						#428bca;
$wizardProgressStepBg:					#e9ebed;
$wizardProgressActStepBg:				#189A80;
$wizardProgressStepActClr:				#fff;
$wizardProgressStepComClr:				#fff;
$wizardProgressComStepBg:				#2c3d4d;
				



// screen size
// --------------------------------------------------------------------------------------------------------
$desktop-min:							1200px; 
$tablet-max:							979px;
$tablet-min:							767px;
$mobile-max:							480px;
$mobile-min:							320px;



$datePickerBr:							#e0e0e0;
$datePickerHeaderFontColor:				$colorPrLiBlue1;
$datePickerTableBorderColor:			$colorNeLiGray4;
$datePickerPrevNextDayColor:			$colorNeLiGray3;
$datePickerDayFontColor:				$colorNeBlack;
$datePickerSelectedDayFontColor:		$colorNeLiGray6;
$datePickerSelectedDayBg:				$colorPrLiGreen1;
$datePickerHoverDayBg:					$colorNeLiGray4;
$datePickerHoverDayFontColor:			$colorNeBlack;
$fontWeightNormal:						400;
$lineheightInc:							4;
$fontSize2_12:							getEmvalue(12,13)/getEmvalue(12 + $lineheightInc,12);
$font2_400_12:							fontProperty(normal, $fontWeightNormal, $fontSize2_12, $fontFamily);