@function getEmvalue($actualFontsize, $defaultFontsize){
	@return $actualFontsize/$defaultFontsize#{em};
}

@function fontProperty($fontStyle, $fontWeight, $fontSize, $familyName){
	@return #{$fontStyle} $fontWeight $fontSize $familyName;
}

@mixin calcPercentWidth($percentValue, $pxValue){
   	width: -webkit-calc(#{$percentValue} - #{$pxValue});
    widtht:    -moz-calc(#{$percentValue} - #{$pxValue});
    width:         calc(#{$percentValue} - #{$pxValue});
}