.customWell{
	background: $wellBg;
	padding: 10px 15px;
	border-radius: 2px;
	border: 1px solid $wellBr;
	margin-bottom: 15px;
	
	.singleLabel{
		margin-top:5px;
	}
	
	.labelBigTextContaier{
	
		&.spacer{
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		&.border{
			border-bottom: 1px solid $wellSmallLabelBigTextContainerBr;
		}
		
		.smallLabelText{
			font: $font_400_13;
			color: $wellSmallLabelOfBigTextClr;
			margin-bottom: 2px;
		}	
		.bigText{
			font: $font_100_24;
			
			&.blue{
				color: $wellSmallLabelBigTextClr;
			}
		}
		
		.with-button{
			.bigText{
				margin-bottom: 10px;
			}
		}
	}
	
	
	
	
	.control-group{
		margin-bottom: 0;
		
		.input-append{
			margin-bottom: 0;
		}
	}
	
	.actionContainer{
		padding-bottom: 0;
		text-align: left;
	}
}