@import "compass";
@import "aui/variables";
@import "aui/mixins";

@import "icomoon/style";
@import "customMixin";
@import "customVariable";
@import "customButton";

.aui.whiteHallInternal{
	
	@import "custom";
	
		.portlet-dockbar {
		.dockbar {
			display: none;

			&.toggler-content-expanded {
				display: block;
			}
		}
	}
	
}

.error_show {
	border: red 1px solid !important;
}

      .aui.whiteHallInternal #wrapper .customTableContainer table.label-value tr td:first-child {
          background: #F4F8FB; 
          }
          
            .aui.whiteHallInternal #wrapper .customTableContainer table.label-value tr td:nth-child(3) {
          background: #F4F8FB; 
          }
          
          
          
          
          .rightalign {
          	text-align: right !important;
          }
          
          .leftalign {
          	text-align: left !important;
          }
          
