.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.aui .navitem {
	
	background-color: #DEE7EE;
	background-image: -moz-linear-gradient(top, #DEE7EE, #DEE7EE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DEE7EE),
		to(#DEE7EE));
	background-image: -webkit-linear-gradient(top, #DEE7EE, #DEE7EE);
	background-image: -o-linear-gradient(top, #DEE7EE, #DEE7EE);
	background-image: linear-gradient(to bottom, #DEE7EE, #DEE7EE);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9',
		endColorstr='#FFF3F3F3', GradientType=0);
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#invoicenavbar {
	background-color: #DEE7EE !important;
	background-image: -moz-linear-gradient(top, #DEE7EE, #DEE7EE) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DEE7EE),
		to(#DEE7EE)) !important;
	background-image: -webkit-linear-gradient(top, #DEE7EE, #DEE7EE)
		!important;
	background-image: -o-linear-gradient(top, #DEE7EE, #DEE7EE) !important;
	background-image: linear-gradient(to bottom, #DEE7EE, #DEE7EE)
		!important;
	margin-bottom: 30px !important;
}

/* .active {
	font-weight: bolder !important;
	text-shadow: none !important;
	color: #003d59 !important;
} */

.hideclass{
	display: none;
}

.aui hr {   
    border-top: 1px solid #346697!important;
  
}

#editTemplate {
 	border: solid 1px #ddd;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:11px 15px;
    color:#555;
    font-size: 14px;
    cursor:pointer;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
}

.totalstr{
	 /* background-color: #9db8cd !important; */
	background-color: #fff;
    font-weight: bold !important;
    font-family: calibari !important;
}

.evenrow{
	background-color: #dee7ee;
	
}
.oddrow{
	background-color: #fff;
}



.table-striped tbody > tr:nth-child(odd) > td {
  background-color: #dee7ee;
}

.error_show {
	border: red 1px solid !important;
}

.highlightedClass{
	
	background: #9db8cd !important;
    font-Weight: bold !important;
}

.historytable th {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6),	to(#eaeaea)) !important;
	/* background: #9db8cd !important; */
	color: #003d59 !important;
	text-align: left;
	padding: 5px;
	font-weight: normal;
	text-shadow: none;
	font-family: Candara;
}

.historyRow{
	background: #9db8cd !important;
	
}

.boldclass{
	 font-weight: bold;
}

.highlightrow{
  /*   background: #dee7ee !important; */
    font-Weight: bold!important;
    font-family: Candara;
}



/* Bootstrap 3.3 CSS classes --- Start  */
.panel-primary {
    border-color: #428bca;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Bootstrap 3.3 CSS classes --End  */

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
     color: #fff;
}
.filterable .filters input[disabled]::-moz-placeholder {
     color: #fff;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
     color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.aui input, .aui textarea, .aui .uneditable-input {
    width: 160px !important;
}



#buttons{
	float:right;
}




table.addtextCenter{
	width:90%;
	margin: 50px 0px;
}
table.addtextCenter td {
    text-align: center;
}

#exportReceivable{
	color: #295780; 
	font-weight: bold;
	position: absolute;
	right: 71px;
}
.total{
	font-weight: bold;
}

.diplay-inline{
	display:inline-block !important;
}