<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<mapping class="com.tf.model.Company" />
		<mapping class="com.tf.model.User" />
		<mapping class="com.tf.model.CompanyType" />
		<mapping class="com.tf.model.PurchaseOrderModel" />
		<mapping class="com.tf.model.PODocument" />
		<mapping class="com.tf.model.Trade" />
		<mapping class="com.tf.model.Invoice" />
		<mapping class="com.tf.model.InvoiceDocument" />
	</session-factory>

</hibernate-configuration>