.aui .row{
	margin-left: 0 !important;
}

.aui label {
  display: inline !important;
  margin-bottom: 5px;
}

hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}

.aui hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #295780 !important;
    border-bottom: 1px solid white;
}

 .aui h5 {
 	/* color: #555 !important; */
 	color: #295780 !important;
    font-weight: bold !important;
 }