.aui .row{
	margin-left: 0 !important;
}

.aui label {
  display: inline !important;
  margin-bottom: 5px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-trash:before {
  content: "\e020";
}

table.tablesorter thead tr th.tablesorter-headerAsc:after,
table.tablesorter thead tr th.tablesorter-headerDesc:after,
table.tablesorter thead tr th.tablesorter-header:after {
  font-family: FontAwesome;
}
table.tablesorter thead tr th.tablesorter-header:after {
  content: "\f0dc";
  float: right;
  margin-top: -20px;
}
table.tablesorter thead tr th.tablesorter-headerAsc:after {
  content: "\f0de";
}
table.tablesorter thead tr th.tablesorter-headerDesc:after {
  content: "\f0dd";
}
table.tablesorter thead tr th {
	/* background-color: #295780 !important; */
	background-color: #555555 !important;
	color: #ccc;
	text-align: left;
	padding: 5px;
	font-weight: normal;
	text-shadow: none;
	border-right: 2px solid #fff;
}

.btn-primary {
	/* background-color: #295780 !important; */ 
	background-color: #555555 !important;
	color: #ccc !important;
	text-align: !important;
	text-shadow: none;
	font-weight: normal !important;
	background-image: linear-gradient(to bottom, #555, #555) !important;
}

.tablesorter input.tablesorter-filter, .tablesorter select.tablesorter-filter {
    width: 98%;
    height: auto;
    margin: 0;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.aui label{
	color: #555 !important;
    font-weight: bold !important;
 }
 
 .aui h4 {
 color: #555 !important;
    font-weight: bold !important;
 }
 
 .portlet-title {
 	display: none !important;
 }
 
    




@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}