.aui .row {
	margin-left: 0 !important;
}

.aui label {
	display: inline !important;
	margin-bottom: 5px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #797979;
}

.aui hr {
	margin: 20px 0;
	border: 0;
	border-top: 2px solid #295780 !important;
	border-bottom: 1px solid white;
}

.aui h5 {
	/* color: #555 !important; */
	color: #295780 !important;
	font-weight: bold !important;
}

.guide {
	margin-top: 20px;
	float: left;
	background-image: url(/tf-theme/images/top-border.jpg);
	background-repeat: repeat-x;
	background-position: 0 10px;
	margin-left: 45px;
}

.page {
	float: left;
	text-align: center;
	width: 250px;
}

.page .number {
	padding: 3px 7px;
	color: #808080;
	background-color: #FFF;
	border: 2px solid #808080;
	border-radius: 50%;
	font-family: arial;
}

.page.active .number {
	background-color: #295780;
	color: #FFF;
	border-radius: 50%;
	border: 2px solid #295780;
}

.page.active .name {
	color: #295780;
}

.page .name {
	color: #808080;
	display: block;
	font-family: Trebuchet MS;
	font-size: 12px;
	padding-top: 20px;
}

.requiredNote {
	margin: 10px 0;
	font-size: 10px !important;
	float: left;
	width: 100%;
}

.requiredStar {
	color: #F96B07;
	font-weight: bold;
	margin-right: 2px;
}

.error_show {
	border: red 1px solid !important;
}

.error_label {
	color: red;
}


.ui-dialog .ui-dialog-title{
	color: #fff !important;
}