#set ($theme_display = $themeDisplay)
#set ($portlet_display = $portletDisplay)
#set ($showMyCompany = true)

#set ($dockbar = $theme.getSetting("dockbar-split"))
#set ($navNotification = $theme.getSetting("nav-notification-Show"))
#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
#set ($instanceId = 'E3j7')
#set ($dockbar_portlet = "bvidockbar_WAR_bvidockbarportlet")
#set ($dockbar_notification = "2_WAR_notificationsportlet")
#set ($VOID = $velocityPortletPreferences.reset())

#set ($VOID = $velocityPortletPreferences.reset())





#set ($icon-class = $theme_display.getProperty('icon-class'))
#set ($user = $permissionChecker.getUser() )
##set ($my_account_url = $htmlUtil.escape($theme_display.getURLMyAccount().toString()))
## Liferay pop up link to display the account editing page of a user (Velocity)
#set ($my_account_url = $theme_display.getURLMyAccount() + "&controlPanelCategory=my")

#if ($dockbar == true)
   #set ($css_class = "${css_class} dockbar-split")
#end

#set ($show_dockbar = $is_signed_in && $permissionChecker.isGroupAdmin($group_id))
#set ($userPortraitURL = $user.getPortraitURL($theme_display) )

#if ($is_signed_in)
	#set ($roleService = $serviceLocator.findService("com.liferay.portal.service.RoleLocalService"))
 	#set ($usrRoles = $roleService.getUserRoles( $user_id )) 
 	#foreach( $usrRole in $usrRoles )
 		#if ( $usrRole.getName() == "WhiteHall Admin" || $permissionChecker.isOmniadmin() )
         	#set ($showMyCompany = false)        	 
       	#end
 	#end
	
#end
