<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class whiteHallInternal" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link href='$css_folder/jquery-ui.css' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
	
	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)
#if ($show_dockbar)
	#dockbar()
#end


<div class="container-fluid" id="wrapper">
	
	#if ($is_signed_in)
	<header id="banner" role="banner">
	
		<div id="heading">
			<!-- static header -->
			<div class="navbar top-nav-bar navbar-fixed-top">
			  <div class="navbar-inner">
				
				<a class="brand visible-desktop" href="www.whitehallfinance.com"><img src="$images_folder/logo-admin.png"></img></a>
				<a class="brand visible-phone visible-tablet" href="#"><img src="$images_folder/logo-small.png"></img></a>
				
				<span class="brand visible-desktop nav pull-center btn">$request.getSession().getAttribute("LIFERAY_SHARED_userRole")</span>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
						  <i class="icomoon-menu bigIcon"></i>
						</a>
					</li>
					#if ($show_dockbar)
						<li class="dropdown notification-dropdown hidden-tablet hidden-phone">
						  <a href="#" class="dropdown-toggle-">
							<div class="notification-img-container">
								<i class="icomoon-setting bigIcon notification-img"></i>
							</div>
						  </a>
						</li>
					#end
					
					
					
					$request.setAttribute("RENDER_PORTLET_BOUNDARY", false)
					#set ($VOID = $velocityPortletPreferences.setValue("portlet-setup-show-borders", "false"))
					#set ($VOID = $velocityPortletPreferences.setValue("portlet-setup-show-borders-default", "false"))
					#set ($VOID = $velocityPortletPreferences.setValue("portletSetupShowBorders", "false"))
					set ($VOID = $theme.runtime("tfcustomnotificationportlet_WAR_tfcustomnotificationportlet", "", $velocityPortletPreferences.toString()))    
					$velocityPortletPreferences.reset()
					
					
					<li class="dropdown profile-dropdown">
					  <a href="#" class="dropdown-toggle-" data-toggle="dropdown">
						<img class="profile-img" src="$userPortraitURL" alt="" title="User image">
						<span class="hidden-tablet hidden-phone header-user-name">$user.getFullName()</span>
						<i class="icomoon-arrow-down"></i>
					  </a>
					  <ul class="dropdown-menu" id="myAccountUl">
						<!-- <li>
							<a href="#">
								<i class="icomoon-my-profile"></i>
								<span class="nav-item-label"> My Profile </span>
							</a>
						</li> -->
						<li>
							<a id="myAccountLink" href="javascript:Liferay.Util.openWindow({dialog: {destroyOnHide: true}, title: 'My Account', uri: '$my_account_url'});" id="navigation-my-account-url">
							
								<i class="icomoon-my-account"></i>
								<span class="nav-item-label"> My Account </span>
								
							</a>
						</li>
						<li>
							<a href="$themeDisplay.getURLSignOut()">
								<i class="icomoon-logout"></i>
								<span class="nav-item-label"> Sign Out </span>
							</a>
						</li>
					  </ul>
					</li>
				  </ul>
				<div class="nav-collapse collapse">
					<div class="navbar-static-side-collapse">
						#parse ("$full_templates_path/navigation_mob.vm")
					  </div>
				  	
				</div><!--/.nav-collapse -->
			  </div><!-- /.navbar-inner -->
			</div>
			<!-- static header -->
			
			<!--<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				#end
			</h1>

			<h2 class="page-title">
				<span>$the_title</span>
			</h2>-->
		</div>

		#if (!$is_signed_in)
			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		
	</header>
	#end

	<div id="content">
		
		#if ($is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		
		<div class="pageWrapper">
			
			
			
			<div class="container-fluid">
				#if ($is_signed_in)
				<nav id="breadcrumbs">#breadcrumbs()</nav>
				#end
						
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()

					$portletDisplay.setTitle($the_title)

					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
				
				#if ($is_signed_in)
					<footer id="footer" class="site-footer" role="contentinfo">
						<p class="powered-by">
							&copy; 2016 WhiteHall Finance. All rights reserved.
						</p>
					</footer>
				#end
			</div>
			
			
		</div>
	</div>

	
</div>

<script src="$javascript_folder/jquery.minv2.2.2.js"></script>
<script src="$javascript_folder/jquery-ui.min.js"></script>
<script src="$javascript_folder/jquery.inputmask.js"></script>
<script src="$javascript_folder/bootstrap-collapse.js"></script>
<script src="$javascript_folder/bootstrap-dropdown.js"></script>
<script src="$javascript_folder/bootstrap-modal.js"></script> 
<script src="$javascript_folder/bootstrap-tooltip.js"></script> 
<script src="$javascript_folder/jquery.tablesorter.min.js"></script> 
<script src="$javascript_folder/tableExport.min.js"></script>  

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>