.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.faqflip {
    background-color: #dee7ee!important;
    border: solid 1px #ddd;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:11px 15px;
    color:#555;
    font-size: 14px;
    cursor:pointer;
}

.faqflip .fa{
    float:right;
    display:inline;
}

.faqpanel {
    border: solid 1px #ddd;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:11px 15px;
    color:#555;
    font-size: 14px;
    cursor:pointer;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    display: none;
}

.highlightedClass{
	
	background: #9db8cd !important;
    font-Weight: bold !important;
}

.historytable th {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6),	to(#eaeaea)) !important;
	/* background: #9db8cd !important; */
	color: #003d59 !important;
	text-align: left;
	padding: 5px;
	font-weight: normal;
	text-shadow: none;
	font-family: Candara;
}

.historyRow{
	background: #9db8cd !important;
	
}

.tablesorter .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

.boldclass{
	 font-weight: bold;
}
/* css changes for seller trade start */
.search-seller{
    width: 165px;
    float: right !important;
	margin-right:22px;
}
.search-supplier{
	float: right !important;
}

/* css changes for seller trade end*/

.hide-tablesorter:after{
	visibility:hidden;
}
.diplay-inline{
	display:inline-block !important;
}

.search-scf{
	 width: 165px;
	 margin-right:22px;
}

.scfAdminTradeReport{
    width: 100px;
	
}

