/* 
*	Datepicker
*/

.popover-default.datePicker-default{
	
	@include box-shadow(0 0 8px rgba(0,0,0,0.2));
	border: 1px solid $datePickerBr;
	
	*,*:focus{
		outline: 0;
	}

	.popover-content{
		padding: 10px;
		
		.yui3-calendar-content{
			background: $bgTransparent;
			padding: 0;
			border: 0 none;		
			@include border-radius(0px);
		}
		
		.yui3-calendar-header-label{
			color: $datePickerHeaderFontColor;
			text-transform: uppercase;
		}
		
		.yui3-calendar-grid{
			table-layout: fixed;
		}
		
		.yui3-calendar-weekday{
			padding: 10px;
			text-align: center;
		}
		
		.yui3-calendar-day, 
		.yui3-calendar-prevmonth-day, 
		.yui3-calendar-nextmonth-day{
			padding: 10px;
			border: 1px solid $datePickerTableBorderColor;
			font: $font2_400_12;
			color: $datePickerDayFontColor;
		}
		
		.yui3-calendar-prevmonth-day, 
		.yui3-calendar-nextmonth-day{
			color: $datePickerPrevNextDayColor;
		}
		
		.yui3-calendar-day-selected{
			color: $datePickerSelectedDayFontColor;
			background: $datePickerSelectedDayBg;
		}
		
		.yui3-calendar-day:hover{
			background: $datePickerHoverDayBg;
			color: $datePickerHoverDayFontColor;
		}
	}
}/* .popover-default.datePicker-default Close */