@media (max-width: $mobile-max) and (min-width: $mobile-min){
	.mtXs15{
		margin-top: 15px;
	}
}

@media (max-width: $tablet-min) and (min-width: $mobile-max){
	.mtSmXs15{
		margin-top: 15px;
	}
}



@media (max-width: $tablet-max) and (min-width: $tablet-min){
	.mtSm15{
		margin-top: 15px;
	}
}

@media (max-width: $desktop-min) and (min-width: $tablet-max){
	.mtSm15{
		margin-top: 15px;
	}
}